forecasting_confirmed.html
forecasting_deaths.html
__pycache__/
.ipynb_checkpoints
docs/main.out
docs/main.log
docs/main.fls
docs/main.fdb_latexmk
docs/main.aux
forecasting_confirmed.png
forecasting_deaths.png